body{
    background-color: rgb(148, 156, 174);
    font-family: 'Concert One', cursive;
}
.card:hover{
    border-right: 2px solid rgb(135, 74, 16);
    border-left: 2px solid rgb(135, 74, 16);
}

.btn {
    font-family: 'Chakra Petch', sans-serif;
    background-color: rgb(193, 112, 36);
    border: none;
}

.btn:hover {
    background-color: rgb(135, 74, 16);
}